In [1]:
import intersect
import pandas as pd
import geopandas as gpd
import fiona.crs
from shapely.geometry.polygon import Polygon
from shapely.geometry.multipolygon import MultiPolygon

In [2]:
EPSG = 2263

CRS = {
    'proj': 'latlong',
    'init': 'epsg:{:d}'.format(EPSG)
}

In [ ]:
raw_people = pd.read_csv("/Users/asiega/Desktop/CVHpeople.csv")

In [ ]:
raw_people.head(2)

In [3]:
people = intersect.people_df("/Users/asiega/Desktop/CVHpeople.csv", crs=CRS)

In [4]:
people.head(2)

,Internal Contact ID,Latitude,Longitude,geometry
0,5,40.687482,-73.963384,POINT (-73.96338399999999 40.687482)
1,226,40.769909,-73.992111,POINT (-73.99211099999999 40.76990900000001)

In [5]:
def explode(indata):
    """Break down multipolygons in geojson to single polygons per row"""
    indf = gpd.GeoDataFrame.from_file(indata)
    outdf = gpd.GeoDataFrame(columns=indf.columns)
    for idx, row in indf.iterrows():
        if type(row.geometry) == Polygon:
            outdf = outdf.append(row,ignore_index=True)
        if type(row.geometry) == MultiPolygon:
            multdf = gpd.GeoDataFrame(columns=indf.columns)
            recs = len(row.geometry)
            multdf = multdf.append([row]*recs,ignore_index=True)
            for geom in range(recs):
                multdf.loc[geom,'geometry'] = row.geometry[geom]
            outdf = outdf.append(multdf,ignore_index=True)
    return outdf

# raw_shapes = explode("/Users/asiega/Desktop/NYCHA.geojson")

In [12]:
def shapes_df(path):
#     raw_shapes = gpd.read_file(path)
    raw_shapes = explode(path)
    raw_shapes.crs = fiona.crs.from_epsg(EPSG)
    zones = raw_shapes.to_crs(fiona.crs.from_epsg(EPSG))
    zones_crs = zones.to_crs(CRS)
    return zones_crs

In [13]:
shapes = shapes_df("/Users/asiega/Desktop/NYCHA.geojson")

In [18]:
people["geometry"].sort_values().head()

1        POINT (-73.99211099999999 40.76990900000001)
11421            POINT (-73.84563799999999 40.819266)
11420            POINT (-73.846222 40.81932800000001)
11419            POINT (-73.98685500000001 40.574812)
0                POINT (-73.96338399999999 40.687482)
Name: geometry, dtype: object

In [17]:
shapes["geometry"].sort_values().head()

851    POLYGON ((-73.79061904700808 40.66815582089683...
854    POLYGON ((-73.79838341966898 40.67181201846752...
852    POLYGON ((-73.80503351710118 40.66845837598144...
853    POLYGON ((-73.80219003598181 40.67066307272878...
850    POLYGON ((-73.80003796052573 40.59850693799366...
Name: geometry, dtype: object

In [19]:
len(shapes)

880

In [35]:
def merge_within(shapes, people):
    merged = gpd.sjoin(people, shapes, how='left', op='within')
    del merged['geometry']
    del merged['index_right']
    return merged.dropna()

In [36]:
merged_within = merge_within(shapes, people)

In [37]:
merged_within

,Internal Contact ID,Latitude,Longitude,BOROUGH,CUR_UNIT11,DEVELOPMEN,NONRES_BLD,RES_BLDG,TDS_NUM,TOT_POP11
89,912,40.717385,-73.978243,MANHATTAN,2194.0,BARUCH,1.0,17.0,060,5274.0
94,917,40.694176,-73.981118,BROOKLYN,1826.0,INGERSOLL,1.0,20.0,014,3227.0
168,1092,40.791862,-73.969814,MANHATTAN,70.0,WSUR (SITE A) 120 WEST 94TH STREET,0.0,1.0,151,154.0
169,1093,40.790859,-73.967413,MANHATTAN,40.0,REHAB PROGRAM (WISE REHAB),0.0,1.0,517,63.0
170,1094,40.884713,-73.843554,BRONX,2035.0,EDENWALD,2.0,40.0,057,5181.0
171,1095,40.847102,-73.887959,BRONX,219.0,TWIN PARKS EAST (SITE 9),0.0,1.0,287,229.0
202,1127,40.694918,-73.942191,BROOKLYN,84.0,BEDFORD-STUYVESANT REHAB,0.0,3.0,311,193.0
204,1129,40.704959,-73.941314,BROOKLYN,509.0,BORINQUEN PLAZA I,2.0,8.0,243,1183.0
205,1130,40.718419,-73.938480,BROOKLYN,700.0,COOPER PARK,0.0,11.0,069,1566.0
209,1134,40.694777,-73.982143,BROOKLYN,1826.0,INGERSOLL,1.0,20.0,014,3227.0
224,1150,40.675522,-74.005768,BROOKLYN,1407.0,RED HOOK EAST,2.0,16.0,004,2940.0
225,1151,40.674648,-74.005214,BROOKLYN,1407.0,RED HOOK EAST,2.0,16.0,004,2940.0
227,1153,40.574955,-73.992542,BROOKLYN,375.0,CONEY ISLAND I (SITES 4 & 5),1.0,1.0,216,1109.0
240,1170,40.704774,-73.941860,BROOKLYN,509.0,BORINQUEN PLAZA I,2.0,8.0,243,1183.0
241,1174,40.800879,-73.955525,MANHATTAN,156.0,REHAB PROGRAM (TAFT REHABS),0.0,3.0,516,314.0
272,1242,40.798122,-73.942887,MANHATTAN,1299.0,JOHNSON,0.0,10.0,017,2763.0
296,1279,40.819704,-73.918435,BRONX,1020.0,MELROSE,1.0,8.0,028,2445.0
299,1282,40.798770,-73.945345,MANHATTAN,1464.0,TAFT,1.0,9.0,097,3285.0
415,1460,40.820040,-73.939727,MANHATTAN,664.0,SAMUEL (CITY),2.0,40.0,377,1415.0
1768,3279,40.826890,-73.935883,MANHATTAN,574.0,HARLEM RIVER,0.0,7.0,003,996.0
1891,3552,40.674960,-73.924971,BROOKLYN,1157.0,KINGSBOROUGH,0.0,16.0,010,2430.0
1911,3576,40.675502,-73.921156,BROOKLYN,1157.0,KINGSBOROUGH,0.0,16.0,010,2430.0
2209,4156,40.831124,-73.943012,MANHATTAN,167.0,AUDUBON,0.0,1.0,125,411.0
2309,4260,40.794535,-73.948543,MANHATTAN,616.0,LEHMAN VILLAGE,1.0,4.0,101,1430.0
2311,4263,40.675283,-73.927222,BROOKLYN,1157.0,KINGSBOROUGH,0.0,16.0,010,2430.0
2415,4371,40.789071,-73.973688,MANHATTAN,158.0,WSUR (SITE C) 589 AMSTERDAM AVENUE,0.0,1.0,174,363.0
2453,4409,40.716899,-73.978211,MANHATTAN,2194.0,BARUCH,1.0,17.0,060,5274.0
2477,4433,40.806126,-73.920067,BRONX,1252.0,MILL BROOK,0.0,9.0,084,2978.0
2538,4498,40.717448,-73.978255,MANHATTAN,2194.0,BARUCH,1.0,17.0,060,5274.0
2550,4511,40.674847,-73.922683,BROOKLYN,1157.0,KINGSBOROUGH,0.0,16.0,010,2430.0
...,...,...,...,...,...,...,...,...,...,...
59545,111027,40.810718,-73.936137,MANHATTAN,1283.0,LINCOLN,0.0,14.0,020,2941.0
59546,111028,40.796103,-73.965986,MANHATTAN,753.0,DOUGLASS II,0.0,6.0,582,1629.0
59549,111032,40.796448,-73.965291,MANHATTAN,753.0,DOUGLASS II,0.0,6.0,582,1629.0
59550,111035,40.795654,-73.964961,MANHATTAN,1303.0,DOUGLASS I,0.0,11.0,082,2663.0
59552,111037,40.796103,-73.965986,MANHATTAN,753.0,DOUGLASS II,0.0,6.0,582,1629.0
59558,111044,40.796452,-73.965294,MANHATTAN,753.0,DOUGLASS II,0.0,6.0,582,1629.0
59559,111045,40.799123,-73.946204,MANHATTAN,1464.0,TAFT,1.0,9.0,097,3285.0
59560,111046,40.810440,-73.935478,MANHATTAN,1283.0,LINCOLN,0.0,14.0,020,2941.0
59564,111050,40.799123,-73.946204,MANHATTAN,1464.0,TAFT,1.0,9.0,097,3285.0
59565,111053,40.789133,-73.939960,MANHATTAN,398.0,WILSON,0.0,3.0,112,1303.0
59571,111060,40.811594,-73.935914,MANHATTAN,1283.0,LINCOLN,0.0,14.0,020,2941.0
59573,111062,40.818597,-73.847168,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59574,111063,40.819831,-73.848695,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59575,111064,40.817726,-73.849321,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59576,111065,40.818597,-73.847168,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59577,111066,40.809969,-73.936043,MANHATTAN,1283.0,LINCOLN,0.0,14.0,020,2941.0
59579,111068,40.790734,-73.951092,MANHATTAN,1246.0,CARVER,0.0,13.0,058,2787.0
59580,111069,40.790734,-73.951092,MANHATTAN,1246.0,CARVER,0.0,13.0,058,2787.0
59581,111070,40.787398,-73.943234,MANHATTAN,271.0,METRO NORTH PLAZA,0.0,3.0,181,669.0
59583,111072,40.813574,-73.958004,MANHATTAN,1940.0,GRANT,1.0,9.0,087,4480.0
59585,111074,40.818000,-73.845331,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59586,111075,40.790734,-73.951092,MANHATTAN,1246.0,CARVER,0.0,13.0,058,2787.0
59587,111076,40.790734,-73.951092,MANHATTAN,1246.0,CARVER,0.0,13.0,058,2787.0
59588,111077,40.790734,-73.951092,MANHATTAN,1246.0,CARVER,0.0,13.0,058,2787.0
59589,111078,40.790734,-73.951092,MANHATTAN,1246.0,CARVER,0.0,13.0,058,2787.0
59590,111079,40.790734,-73.951092,MANHATTAN,1246.0,CARVER,0.0,13.0,058,2787.0
59591,111080,40.819831,-73.848695,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59592,111081,40.819734,-73.846877,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59594,111083,40.817453,-73.846664,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0
59598,111089,40.818597,-73.847168,BRONX,2023.0,CASTLE HILL,0.0,14.0,080,4997.0

In [40]:
merged_within.to_csv("/Users/asiega/Desktop/preliminary_merge.csv")

In [22]:
merged.head()

,Internal Contact ID,Latitude,Longitude,BOROUGH,CUR_UNIT11,DEVELOPMEN,NONRES_BLD,RES_BLDG,TDS_NUM,TOT_POP11
0,5,40.687482,-73.963384,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,226,40.769909,-73.992111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,228,40.746794,-73.982509,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,230,40.823687,-73.868344,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,232,40.760444,-73.973270,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
raw_shapes.crs = CRS
zones = raw_shapes.to_crs(people.crs)

In [ ]:
zones.head()

In [ ]:
places["geometry"].head()
# if you explore here, you notice that with to_crs, every polygon value becomes "inf"

In [ ]:
# this runs fine, but...
places.iloc[0]

In [ ]:
# this kills my kernel (Py root)
places.iloc[0]["geometry"]

In [ ]:
for geo in places["geometry"]:
    print geo[0]
    print "\n"
    print geo.bounds[0]
    break

### Compare json & geojson inputs

In [ ]:
raw_json = gpd.read_file("sample_data/shapes/nycha.json")

In [ ]:
raw_json["geometry"].head()

In [ ]:
raw_places["geometry"].head()

In [ ]:
# multipolygon vs regular polygon

raw_places["geometry"]

In [ ]:
EPSG = 2263

CRS = {
    'proj': 'latlong',
    'init': 'epsg:{:d}'.format(EPSG)
}

zones = exploded_df.to_crs(fiona.crs.from_epsg(EPSG))
zones_crs = zones.to_crs(CRS)

In [ ]:
zones_crs.head()

In [ ]:
exp_head = exploded_df.head(50)

merged_df = intersect.merge(exp_head, people)